@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-1">Hallo</h1>
    <h4 class="display-5">Date: @Model.DateFromDependency</h4>
    <h4 class="display-5">Date: @Model.DateFromMiddleware</h4>
</div>
<body>
    <h2>Beispiel Link</h2>
    <a class="link-info" href="//endjin.com/blog/2022/06/implementing-dependency-injection-in-aspnet-core/">dependency-injection</a>
</body>
